# Fetched from https://gitlab.com/Nicd/dotenv-parser/-/blob/735e1867f69d94da8abb68ad283a766a7c2efa56/test/data/.env

BASIC=basic

# previous line intentionally left blank
 # Indented comment
AFTER_LINE=AFTER_LINE
EMPTY=
SINGLE_QUOTES='single_quotes'
SINGLE_QUOTES_SPACED='    single quotes    '
DOUBLE_QUOTES="double_quotes"
DOUBLE_QUOTES_SPACED="    double quotes    "
EXPAND_NEWLINES="expand\nnew\nlines"
EXPAND_MORE="expand\nand\tand\r\nand\r"
DONT_EXPAND_UNQUOTED=dontexpand\nnewlines\u1234
DONT_EXPAND_SQUOTED='dontexpand\nnewlines'
# COMMENTS=work
EQUAL_SIGNS=equals==
RETAIN_INNER_QUOTES={"foo": "bar"}
RETAIN_INNER_QUOTES_AS_STRING='{"foo": "bar"}'
TRIM_SPACE_FROM_UNQUOTED=    some spaced out string
USERNAME=therealnerdybeast@example.tld
    SPACED_KEY = parsed
INLINE_COMMENT="foo#bar" # Bark Bark
INLINE_COMMENT_PLAIN=foo bar # Bark Bark
END_BACKSLASH="something\" # Comment"
END_DOUBLE_BACKSLASH="foo\\" # Comment
lowercased_var=foo

MULTILINE="There are
many\u1234lines
in this var!"
    SPACED_MULTILINE = "
    <-- Note: Indentation preserved"
MULTILINE_SINGLE_QUOTE='Now also
with single quotes! "_"'
#export MULTILINE_ESCAPED_QUOTE="Not stopping here --> \\\\\\\"
#but \"\" here" # Comment for multiline
MULTILINE_ESCAPED_LINEFEED="No linefeed --> \
nope"
#export MULTILINE_NON_ESCAPED_LINEFEED='Linefeed not escaped in single quotes \
#'

RETAIN_TRAILING_DQUOTE=retained"
RETAIN_TRAILING_SQUOTE=retained'
